/* rgba(170, 59, 255, 0.5); - 보라색 
    #aa3bff   index.css 모두 지우기 */

/* index.css 파일은 리액트 모든 파일에 공통적으로 적용된다! */
* {
  margin: 0;
  padding: 0;

  /* 너비를 계산할 때 안쪽여백인 패딩을 같이 계산해야된다. 
  1200px 패딩 20px  --> 1240px  정렬,레이아웃 망가질 수있음

  너비를 기준으로 안쪽에 패딩같이 계산 
  1200px 패딩 20px --> 오른쪽패딩 20   왼쪽 패딩 20 나머지 1160(content) 
  */
  box-sizing: border-box;

  /*  브라우저(크롬,엣지,사파리,오페라,파이어폭스..) 기본폰트크기를 고정
    rem 단위 배수 단위로 px을 계산한다. 
    rem 단위는 기본 폰트 16px 기준으로 배수 
    반응형이나 웹->앱으로 자동으로 만들때 rem단위!

    2rem => 32px;
    1rem => 16px;
    0.5rem => 8px;
  */
  font-size: 16px;
}
ul {
  list-style: none;
}
.wrap {
  width: 100%;
}

/* 핫토픽 디자인 영역! */
.hot-topics {
  padding: 30px;

  /* 가운데로 고정하기 위한 디자인 */
  width: 1000px;
  margin: 0 auto;
}

.hot-topics span {
  color: rgba(88, 2, 146, 0.5);
  font-weight: bold;
}

.content-topics {
  display: flex;
  gap: 10px;
}

.title-topics {
  /* 방향 가로? 세로? 기본 가로! */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* 특정 위치에 있는 ul들만 정렬  */
.title-topics ul {
  display: flex;
}
.title-topics li {
  border: 1px solid #ccc;
  padding: 5px 15px; /*0.4rem 1rem*/
  margin: 0 5px;

  cursor: pointer;
}

.topic {
  position: relative;
  overflow: hidden;
}

.topic img {
  /* 실무에서 많이 사용하는 단위! rem
    16 * 19  = 304px 
  */
  width: 19rem;
}

.time-labs {
  width: 19rem;
  height: 100%;

  position: absolute;
  /* bottom: 5px; */
  top: 160px;

  color: white;
  background-color: royalblue;
  text-align: center;

  padding: 10px 0;
  /* 실무에서는 속도감도 중요시 본다. 
    기본값이 시작할대는 천천히 중간에 빨랐다가 다시 끝날때는 천천히 */
  /* linear 처읍부터 끝까지 일정한 속도감을 낸다 */
  transition: 1s linear;
}

/* .time-labs의 높이가 짤으면 중간애
   멈출수도 있다. 그래서 img , topic
   같이 hover기능을 줘야된다. */
.time-labs:hover {
  top: 0;
  /* bottom: -160px; */
}

/* 반대로 해보기!  */

/* 실무에서는 디자인 변경할때는 css */
.click-active {
  background-color: black;
  color: white;
}

/* JS Board Hub 디자인 */

.post-header{
  display: flex;
  justify-content: space-between;
}