/* App.css */

.drink-menus{
  width: 300px;

  padding: 20px;

  background-color: #ddd;
  text-align: center;
}

/* 메뉴 안에 버튼 디자인 */
.drink-menus button{
  border: none;
  background-color: royalblue;
  color: white;
  font-weight: 400;
}