/* Home.css */

body{
  background-color: #050a13;
  color: #ffffff;
}

.menu{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu ul li:hover{
  cursor: pointer;
}

.main{
  text-align: center;
  margin: 20px;
}

.coder{
  color: aqua;
}

.main img{
  margin: 20px;
  width: 250px;
  border-radius: 250px;
  border: 2px solid aqua;
}

.main button{
  margin: 30px;
  padding: 10px;
  background-color: aqua;
  color: black;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.main button:hover{
  cursor: pointer;
}